<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <title>Create Account - BookMyMovie</title>
    <link href="/favicon.svg" rel="icon" type="image/svg+xml"/>
    <link href="/images/ticket-icon.svg" rel="apple-touch-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"/>
    <link href="css/site.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="/movies">
            <img alt="BookMyMovie" height="32" src="/images/ticket-icon.svg" width="32"/>
            <span>BookMyMovie</span>
        </a>
        <ul class="nav">
            <li><a href="/movies">Home</a></li>
            <li><a href="/movies">Movies</a></li>
        </ul>
        <ul class="nav">
            <li><a href="/login">
                <svg fill="currentColor" height="16" style="vertical-align: middle; margin-right: 4px;" viewBox="0 0 16 16"
                     width="16">
                    <path d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                          fill-rule="evenodd"/>
                    <path d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                          fill-rule="evenodd"/>
                </svg>
                Login
            </a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <form action="/registration" class="form-signin" method="post" th:object="${userForm}">
        <h2>Create Account</h2>

        <div class="form-group">
            <input autofocus="true"
                   class="form-control"
                   name="username"
                   placeholder="Username"
                   required
                   th:field="*{username}"
                   type="text"/>
        </div>

        <div class="form-group">
            <input class="form-control"
                   name="password"
                   placeholder="Password"
                   required
                   th:field="*{password}"
                   type="password"/>
        </div>

        <div class="form-group">
            <input class="form-control"
                   name="passwordConfirm"
                   placeholder="Confirm your password"
                   required
                   type="password"/>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>

        <p class="text-center" style="margin-top: 1.5rem; color: var(--text-secondary);">
            Already have an account? <a href="/login"
                                        style="color: var(--primary-light); text-decoration: none; font-weight: 600;">Sign
            in</a>
        </p>
    </form>
</div>

<footer>
    <div class="container">
        <p class="text-muted">© 2025 BookMyMovie. All rights reserved.</p>
    </div>
</footer>

<script src="js/site.js"></script>
</body>
</html>